body {
	margin: 0;
    background-color: rgb(0,0,255)
}

.text-container {
	font-family: "EB Garamond", serif;
	position: fixed;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;

    }

h1 {
	color: rgb(255,255,255);

	font-size: 1.5rem;
	line-height: 1.2;
	font-weight: normal;

    margin-bottom: 10px;
	
	text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.center-image {
  display: block;      /* Treats img like a block element */
  margin: 0 auto;      /* Auto margins left/right center it */
  max-width: 50%;     /* Keeps image responsive */
  height: auto;
}

.eb-garamond-<uniquifier> {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
